################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerManager/.vs/CustomerManager/v15
/.vs/slnx.sqlite
/CustomerManager/CustomerManager.API/CustomerManager.ldf
/CustomerManager/CustomerManager.API/CustomerManager.mdf
