<p><a ng-click="">Customer List</a></p></li>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Previously Ordered</th>
            <th>Web Customer</th>
            <th>Date Active</th>
            <th>Is Palindrome</th>
            <th>Favourite Colours</th>
        </tr>
    </thead>
    <tr ng-repeat="customer in model.customers">
        <td><a href="" ng-click="model.showEditCustomer(customer)">{{customer.firstName}} {{customer.lastName}}</a></td>
        <td>{{customer.previouslyOrdered ? "Yes":"No" }}</td>
        <td>{{customer.webCustomer ? "Yes":"No" }}</td>
        <td>{{customer.dateActive | date:'dd/MM/yyyy'}}</td>
        <td>{{customer.isPalindrome ? "Yes":"No" }}</td>
        <td><span ng-repeat="colour in customer.favouriteColours">{{colour.name}}</span></td>
    </tr>
</table>
<p><a href="" ng-click="model.showAddCustomer">Add new customer</a></p>
<form ng-model="model.newCustomer">
    <input type="text" ng-model="model.newCustomer.firstName"/>
    <button ng-click="model.saveNewCustomer">Save</button>
    <button ng-click="model.clearNewCustomer">Cancel</button>
</form>

<form ng-model="model.editCustomer">
    <table border="1">
        <tr>
            <td>First Name</td>
            <td><input type="text" ng-model="model.editCustomer.firstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" ng-model="model.editCustomer.lastName" /></td>
        </tr>
        <tr>
            <td>Previously Ordered</td>
            <td><input type="checkbox" ng-checked="model.editCustomer.previouslyOrdered" /></td>
        </tr>
        <tr>
            <td>Web Customer</td>
            <td><input type="checkbox" ng-checked="model.editCustomer.webCustomer" /></td>
        </tr>
        <tr>
            <td>Date Active</td>
            <td><input type="text" ng-model="model.editCustomer.dateActive" /></td>
        </tr>
        <tr>
            <td>Is Palindrome</td>
            <td><input type="checkbox" ng-checked="model.editCustomer.isPalindrome" /></td>
        </tr>
        <tr>
            <td>Favourite Colours</td>
            <td>
                <ul>
                    <li ng-repeat="colour in customer.favouriteColours"><input type="checkbox" ng-checked="colour" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="model.saveCustomer">Save</button>
                <button ng-click="model.editCustomer = {}">Cancel</button>
            </td>
        </tr>
    </table>

</form>